<configuration>
 <appender name="FILE" class="ch.qos.logback.core.FileAppender">

  <file>/tmp/agario.log</file>
  <append>true</append>
  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
    <pattern>%date %-5level [%thread] %logger{128} - %msg%n</pattern>
  </encoder>

  </appender>
  <root level="debug">
      <appender-ref ref="FILE" />
  </root>
</configuration>
